a.Button, .Button {
  background: $gold;
  color: $white;
  @include scut-padding(($gutter * 0.5) ($gutter * 2));
  @include scut-margin($gutter n);
  font-family: $font-montserrat;
  font-weight: $font-weight-bold;
  border: none;

  &:hover,
  &:focus {
    background: darken($gold, 5%);
    color: $white;
  }

  &--link {
    background: transparent;
    color: $grey;
    font-size: $font-size-small;
    border-bottom: 1px solid $grey;
    @include scut-padding(0 0 4px 0);
    border-radius: 0;
    &:hover,
    &:focus {
      background: transparent;
      color: lighten($grey, 5%);
    }
  }
}
