.Grid {
  display: grid;
  grid-gap: $gutter;

  &--two {
    grid-template-columns: repeat(1, 1fr);

    @media #{$medium-up} {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.Grid-item {
    &--center {
        text-align: center;
    }
}