.Players {
  @include scut-padding(n $gutter);
  @include scut-margin(($gutter*2) n);

  &-slider {
    @include scut-padding(n ($gutter*3));
  }

  @media #{$medium-up} {
    @include scut-padding(n ($gutter*3));
  }
  &-item {
    @include scut-padding(n $gutter);

    p {
      margin: 0;
    }
  }

  &-image {
    img {
      border-radius: 50%;
    }
  }

  &-name {
    font-family: $font-source-pro;
    font-weight: $font-weight-black;
    color: $maroon;
    font-size: $font-size-largest;
  }

  &-role {
    font-family: $font-source-pro;
    font-weight: $font-weight-bold;
  }

  &-prev {
    left: -($gutter*3) !important;
    background-image: url("~assets/images/left-arrow.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    @include scut-size(40px);

    &:before {
      display: none;
    }
  }

  &-next {
    right: -($gutter*3) !important;
    background-image: url("~assets/images/right-arrow.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    @include scut-size(40px);

    &:before {
      display: none;
    }
  }

  &-content {
    @include scut-margin($gutter n n);
  }
}


// Specific to Players--grid
.Players--grid {
  display: grid;
  grid-gap: $gutter;
  text-align: center;

  grid-template-columns: repeat(2, 1fr);

  @media #{$medium-up} {
    grid-template-columns: repeat(4, 1fr);
  }

  .Players-image {
    img {
      box-shadow: 4px 4px 4px 0px $gold;
      border-radius: 8px;
    }
  }

  .Players-name {
    color: $white;
    font-size: $font-size-larger;
    @media #{$medium-up} {
      font-size: $font-size-largest;
    }
  }

  .Players-role {
    color: lighten($mild-grey, 8%);
    font-size: $font-size-smallest;
    @media #{$medium-up} {
      font-size: $font-size-small;
    }
  }
}
